@import url('https://fonts.googleapis.com/css?family=Varela%20Round:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
:root{
	--proformer: #5ff5f5;
  --game-stuff: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  	background: #02225D;
}
body{
	font-family: 'Varela Round';
	font-weight: 500;
	font-size: 15px;
	line-height: 1.7;
	color: #02225d;
	overflow-x: hidden;
	letter-spacing: 0.2px;
	-webkit-transition: all 200ms linear;
	transition: all 200ms linear; 
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	scroll-behavior: smooth;
}


.content-wrapper {
  margin: 15vh auto 0;
  width: 1366px;
  padding-top: 3%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background: rgba(121, 121, 121, 0.35);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px 0px;
}

.main-content {
  margin: 0 5%;
}

.content {
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

.content-container{
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.content iframe, #ruffle {
  width: 900px;
  height: 800px; 
  border: none;
  overflow: hidden;
  background-image: url("images/preloader.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #131212;
  
}

.content .game-wrap{
  width: 900px;
  height: 600px;
  border: none;
  overflow: hidden;
}

.content-controls {
  background: black;
  margin: 1rem auto;
  height: 20px;
}


.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--proformer);
  padding: 0.2rem 2rem 0.75rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bar > button{
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 25px;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar h1{
  font-size: 20px;
  background: #5ff5f5;
}

#content-creator {
  font-size: 14px;
  font-weight: 600;
  background: #5ff5f5;
}

#content-desc {
  color: var(--desc);
}

#content-controls{
  list-style-type: none;
}


.gameframe {
  height: 80vh;
  border: 3px solid #5ff5f5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.fa-2x {
  background: #5ff5f5;
  transition: all .2s ease-in-out; 
}

.game-stuff {
  margin: 5% 0;
  padding: 2rem;
  background-color: var(--ubg);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px 0px;
}

#content-stuff {
  color: var(--game-stuff);
}
