@import url('https://fonts.googleapis.com/css?family=DM%20Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
* {
  margin: 20;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
  text-align: center;
  background: #02051f;
}
h1 {
  font-size: "50px";
}
      
body {
  
  color: #FFFFFF;
  margin-top: 0px;
}
